/*Akhil Gupta website CSS file*/
body{
	font-family: 'Raleway', sans-serif;
}

.hero{
	background: url('./images/cosmic_calender.jpg') no-repeat center fixed;
	
	background-color:#bbbbbb;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: left top;
	padding:2rem 0 19rem;
	color: white;
}
.hero h4{
	font-size: 35px;	
}
.hero p{
	font-size: 20px;
}

.section{
	padding:5rem 0 10rem;
}
.section-header{
	/*text-align: center;*/
	font-size: 40px;
	margin-bottom: 30px;
}.header{
	display: none;
}
#nav {
  /*width: 40%;*/
	float: right;
	margin: 0px 20px 0px 0px ;
	list-style: none; 
	position: absolute;
    top: 50px;
    right: 0px;
}
#nav li {		/*this is making it become horizontal*/
	float: left; 
}
#nav li a { /*spacing and coloring of navbar*/
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	margin:0;
	color: white; 
}
#nav li a:hover {
	background-color: rgba(230, 230, 230,0.1);
	border-radius: 3px;
}
/*.navbar{
	visibility: hidden;
}*/

.hero h4{
	font-size: 50px;	
}
.hero p{
	font-size: 30px;
}

/*........................Projects......................*/
.projects{
  background-image: url("./images/back_12.jpg");
}

.section{
	padding:5rem 0 10rem;
}
.section-header{
	/*text-align: center;*/
	font-size: 40px;
	margin-bottom: 30px;
}
.project-tile{
	border: 1px solid rgb(226, 226, 226);;
	border-radius: 4px;
	width: 100%;
	height: 300px;
	margin-top: 30px;
	font-size: 30px;
/*-webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.15);
-moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.15);
box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.15);*/
-webkit-box-shadow: inset 0px 0px 30px 0px rgba(50, 50, 50, 0.10);
-moz-box-shadow:    inset 0px 0px 30px 0px rgba(50, 50, 50, 0.10);
box-shadow:         inset 0px 0px 30px 0px rgba(50, 50, 50, 0.10);
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'feathericons';
	src:url('../fonts/feathericons/feathericons.eot?-8is7zf');
	src:url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),
		url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'),
		url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'),
		url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}

.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	width:100%;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	/*margin: 10px 1%;*/
	/*min-width: 320px;*/
	/*max-width: 480px;*/
	max-height: 256px;
	width: 100%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: white;
	text-shadow: 0px 0px 18px rgba(0, 0, 0, 0.45);
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
	color: white;
}


figure.effect-sadie a {
	font-weight: 800;
}

figure.effect-sadie:hover h2 {
	color: #fff;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sadie:hover a {
	color:rgb(129, 179, 255);
}

/*...................Skills........................*/
.skills .project-tile{
	padding: 30px;
}

.skills .project-tile p{
	text-align: center;
	font-size: 20px;
	border-bottom: 1px solid black;
}

.skills{
	background-image: url("./images/skills12.jpg");
}

/*.front-end{
	
	opacity: 1;
}

.back-end{
	background-image: url("../img/back-end.png");
}

.misc{
	background-image: url("../img/pyramid.png");	
}*/

/*................Contact..........................*/

.contact{
   background: url('./images/contact_back.jpg') ;
  /*#background-color: #ff4b07;*/
	color:white;
	font-size: 20px;
}



